<div class="detail-panel">
	<div class="panel panel-default">
		<div class="panel-body">
			<h3>Settings</h3>
			<hr/>
			<form role="form" ng-submit="submit()">
				<div class="form-group">
					<label>Nick Name</label>
					<input type="text" ng-model="nickName" class="form-control"
							placeholder="Enter a Nickname"></div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
			<hr/>
			<form role="form" ng-submit="changepassowrd()">
				<div class="form-group">
					<label>Old password</label>
					<input type="password" ng-model="oldpassword" class="form-control"
					placeholder="Enter the old password"></div>
				<div class="form-group">
					<label>New password</label>
					<input type="password" ng-model="newpassword" class="form-control"
							placeholder="Enter a new password"></div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
		<div class="panel-footer">
			<a href="#/chat">back</a>
		</div>
	</div>
</div>