<div ng-hide="article">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<div class="posts" ng-show="article">
    <a href="#/" class="back">back</a>
    <section class="post" ng-show="article">
        <header class="post-header">
            <h2 class="post-title">
                <a href="#" ng-bind="article.title"></a>
            </h2>

            <p class="post-meta">
                By
                <a href="javascript:void(0)" class="post-author" ng-bind="article.author"></a>
                under
                <span cage-category="article.category"></span>
                <a href="#manage/{{article.$id}}">Edit</a>
            </p>
        </header>

        <div class="post-description" ng-bind-html="article.description | unsafe"></div>
    </section>
</div>