html, body {
  min-height: 100%;
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
}

a,
a:active,
a:focus {
  color: #333;
}

ul {
  padding-left: 0;
  list-style: none;
}

h1 {
  small {
    color: #999;
    font-size: 0.8rem;
    font-weight: normal;
  }
}

small {
  a {
    color: #2682c3;
  }
}

.container {
  margin: 0 auto;
  font-family: 'Microsoft Yahei';
}

.nav-bar {
  width: 100%;
  margin-bottom: 50px;
  background: #eee;

  .nav {
    padding-top: 8px;
    padding-bottom: 8px;

    form {
      display: inline;
    }

    > .nav-item {
      margin-right: 34px;
    }

    .nav-item {
      display: inline-block;
      line-height: 80px;
      height: 80px;
      color: #999;
      font-weight: bolder;
      padding: 0 4px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: #333;
      }

      &.active {
        color: #333;
      }
    }

    .nav-control {
      border: none;
      padding: 0;
      border-bottom: solid 1px #ddd;
      border-radius: 0;
      line-height: 24px;
      margin: 5px;
      margin-top: 27px;
      color: #555;
      background: transparent;
    }

    .nav-control:focus {
      outline: none;
    }
  }
}

.content-container {
  .content {
    p {
      font-size: 14px;
      line-height: 20px;
      text-indent: 28px;
    }
  }

  .content-title,
  .content-time {
    text-align: center;
  }

  .content-title {
    font-weight: normal;
    margin: 0;
  }

  .content-time{
    font-size: 12px;
    color: #999;
    margin-bottom: 50px;
  }
}

.pager {
  margin: 40px 0;
  text-align: center;

  div {
    display: inline-block;
    width: 50%;
  }

  a {
    color: #2682c3;
  }
}

.article {
  border-bottom: solid 1px #eee;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;

  .title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 2.2rem;
    line-height: 1.15em;
  }

  .content-container {
    padding: 15px 0;
    line-height: 25px;
    font-size: 14px;
  }

  .time,
  .tags {
    line-height: 25px;
    opacity: .5;
  }

  .tags {
    font-size: 14px;

    .tag {
      background-color: #999;
      color: #fff;
      padding: 0 8px;
    }
  }
}

//media
@media (min-width: 480px) {
  .container {
    width: 80%;
    max-width: 1000px;
  }

  .article {

    .title {
      margin-left: 20%;
      margin-bottom: 20px;
    }

    .content-container {
      margin-left: 20%;
    }

    .time,
    .tags {
      position: absolute;
      left: 0;
    }

    .time {
      top: 0;
    }

    .tags {
      top: 25px;
    }
  }
}

@media (min-width: 480px) and (max-width: 1000px) {
  .article {

    .title {
      margin-left: 160px;
      margin-bottom: 20px;
    }

    .content-container {
      margin-left: 160px;
    }
  }
}

@media (max-width: 560px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;

    > div,
    > ul {
      padding: 0 15px;
    }
  }

  .nav-bar {
    .nav {
      .nav-item {
        margin-right: 10px;
      }
    }
  }

  .article {
    .title {
      font-size: 1.6rem;
    }
  }

  .hidden-xs {
    display: none !important;
  }
}

@media (max-width: 370px) {
  .nav-bar {
    .nav {
      .nav-control {
        display: none;
      }
    }
  }
}

.about{
  p{
    font-size: 14px;
    color: #999;

    a{
      color: #999;
    }
  }
}

hr{
  border: none;
  border-bottom: solid 1px #eee;
}

//tools
.pull-right {
  float: right;
}

.hide {
  display: none !important;
}

.text-center {
  text-align: center;
}
